
.open_bracket
{
    color: #000;
}

.close_bracket
{
    color: #000;
}

.input
{
    color:#eac435;
}

.output
{
    color: #2ec4b6;
}

.right
{
    color: #261a82;
}

.left
{
    color: #261a82;
}

.plus
{
    color: #0197f6;
}

.minus
{
    color: #ff220c;
}

.comment
{
    color: #C9C9C9;
    font-style: italic;
}

.operator
{
    position: relative;

    font-family: "arvin regular";
    font-weight: bold;
    font-size: 120%;
}

.select
{
    background-color: #eee !important;
}

.play-select
{
    color: #fff;
    background-color: #222 !important;

    border-radius: 2px;
}

.cursor
{
    position: relative;
    display: inline-block;

    width: 2px;
    height: 18px;
    top: 3px; 
    margin-left: 1px;
    margin-right: 0px;
    background-color: #047740;

    animation: blink-animation 0.7s steps(5, start) infinite;
    -webkit-animation: blink-animation 0.7s steps(5, start) infinite;
  }
@keyframes blink-animation 
{
    to {
      visibility: hidden;
    }
  }
@-webkit-keyframes blink-animation 
{
    to {
      visibility: hidden;
    }
}

.editor::-webkit-scrollbar 
{
    width: 5px;
    height: 5px;
}
    
    
.editor::-webkit-scrollbar-track-piece  
{
    background-color: transparent;
}
    
.editor::-webkit-scrollbar-thumb:vertical 
{
    height: 30px;
    background-color: #ddd;

    border-radius: 6px;
}