
.open_bracket
{
    color: #000;
}

.close_bracket
{
    color: #000;
}

.input
{
    color:#eac435;
}

.output
{
    color: #2ec4b6;
}

.right
{
    color: #261a82;
}

.left
{
    color: #261a82;
}

.plus
{
    color: #0197f6;
}

.minus
{
    color: #ff220c;
}

.operator
{
    position: relative;

    font-family: "arvin regular";
    font-weight: bold;
    font-size: 120%;
}